html {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("img/background.jpg");
  background-attachment: fixed; }

main {
  width: auto;
  height: auto; }

#navbar {
  background-color: #00000079; }

#header {
  background-color: #252921c4;
  padding: 10px; }

.nav-link {
  font-size: 1em;
  color: #cbcecc; }

#navbaricon {
  font-size: 1em;
  color: #cbcecc; }

.container {
  background-color: #020301c4;
  width: auto;
  height: auto; }

.contact {
  padding: 20px;
  color: #cbcecc; }

#banner {
  width: 700px;
  height: auto; }

#about,
#news,
#events {
  background-color: rgba(255, 255, 255, 0.438);
  margin-top: 20px;
  margin-bottom: 10px; }

#footer {
  background-color: #000000ec;
  color: white;
  padding: 20px; }

#mapouter {
  height: auto;
  width: auto;
  margin-left: 10px; }

#gmap_canvas {
  text-align: left;
  overflow: hidden;
  background: none !important;
  height: auto;
  width: auto; }

.form-row {
  padding: 20px;
  margin-left: 10px; }

/* XS screens */
/* sm screens */
/* md screens */
/* lg screens */
